:root {
    --primary-color: #951C11;
    --secondary-color: #F1F1D5;
    --base-dark: #262020;
    --base-light: #FEF5EA;
}

html{
    padding: 0;
    margin: 0;
overflow-x: hidden; /* Menghilangkan scroll horizontal */
     /* Menghilangkan scroll vertikal */
}



/* Opsional: Menambahkan gaya untuk konten lain agar tidak tertutup */
body {
    position: relative;
    z-index: 0;
}


/* Menghilangkan scrollbar di Chrome, Safari, dan Edge */
body::-webkit-scrollbar, body::-webkit-scrollbar {
    display: none;
}

/* Menghilangkan scrollbar di Firefox */
 body {
    scrollbar-width: none; /* "none" atau "thin" */
}

/* Menghilangkan scrollbar di Internet Explorer dan Edge */
body {
    -ms-overflow-style: none; /* Menghilangkan scrollbar */
}

p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
}

nav {
    background-color:#951C11;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
    margin-bottom: 0px;
    position: fixed;
    height: 15dvh;
    list-style: none;
    margin: 0;
    padding: 0;
    z-index: 100;
    
   
}
.navbar-brand {
    display: flex;
    align-items: center;
}
.nav-text {
    margin-left: 10px;
    font-weight: bold;
    color: #FFFFFF;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 20px;
}


nav ul li {
    display: flex;
    flex-direction: row;
    margin: 0 15px;
   
}
header nav  li {
    text-decoration: none;
    margin: 0 5px;
    /* padding: 10px; */
    
}
.logo {
    margin-right: 10px;
    margin-left: 40px; 
    width: 50px;
    height: 50px;/* Menambahkan jarak antara logo dan tulisan */
    border-radius: 50%;
}

nav ul li a {
    text-decoration: none;
    color: #FEF5EA !important;
    font-weight: bold;
    transition: color 0.3s;
    vertical-align: middle;
    padding: 6px 12px;
    
    
   
}

.nav-link {
    text-decoration: none !important;
    color: #FEF5EA !important;
    font-weight: bold!important;
    transition: color 0.3s !important;
    vertical-align: middle !important;
    padding: 6px 12px !important;
    
}

.dropdown-item {
    color: var(--base-dark) !important;
}
.nav-link:hover {
    background-color: #F1F1D5 !important; /* Warna saat hover */
    border-radius: 21px !important;
    color: black !important;
    transition: color 0.3s !important;
    transition: all 1s !important;
}

header nav li a  {
    text-decoration: none;
    color: #FEF5EA;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 16px;
    font-weight: 700;
    vertical-align: middle;
    padding: 10px;
    margin-left: 10px;
  
}

/* nav ul li a:hover {
    background-color: #F1F1D5;
    border-radius: 21px;
    color: black;
    transition: color 0.3s;
    transition: all 1s;
} */


nav li a .logo {
    height: 50px;
     /* Atur tinggi logo sesuai kebutuhan */
    vertical-align: middle;
    border-radius:50%;
   
}


header {
    background-color: #951C11; /* Warna latar belakang header */
    padding: 0px 20px;
    display: flex;
    flex-direction: column;
    width: 100dvw;
    align-items: center;
}

/* awal jumbotron */
.jumbotron-content {
    display: flex;
    flex-direction: column;
    margin-top: 15dvh;
    height: 100dvh;
    
    padding: 30px;
    padding-left: 100px;
    
}

.jumbotron-content h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    height: 225px;
    width: 450px;
    font-weight:700; 
    font-size: 64px; 
    color: #FFFFFF;
    margin: 10px;
    margin-top: 15dvh;
   
    
}
.jumbotron-content p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    height: 28px;
    width: 516px;
    font-weight:700; 
    font-size: 24px;
    color: #FFFFFF;
    margin: 10px;
   
   
}
.jumbotron-content p:nth-of-type(2) {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    height: 95px; 
    width: 50%; 
    font-weight:400; 
    font-size: 16px;
    color: #FFFFFF;
    margin: 10px;
  
 
}
.jumbotron-content button {
    width: 10dvw; 
    margin: 10px;
    background-color: #F1F1D5;
    border: none;
    height: 53px;
    border-radius: 36px;
    margin-top: 80px;
   
 
}
.jumbotron-content button a {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 10dvw; 
    font-weight:400; 
    font-size: 16px;
    color: black;
    margin: 10px;
    
    text-decoration: none;
   
 
}

/* akhir jumbotron  */




/* Mengatur gaya untuk main dan section */
main {
    max-width: 100dvw;
    margin: 0 auto;
}

section {
    margin-bottom: 40px;
    height: 100dvh;
    background-color: #F1F1D5;
    text-align: center;
    
}

section .content-section {
    padding: 15%;

  
   
}

/* awal section tentang kami */
.tentangkami {
    height: fit-content;
    display: flex;
    flex-direction: column;
    width: 100dvw;

}
.tentangkami .content-section-visimisi {
display: flex;
flex-direction: row;
height: 356px;


}
.tentangkami .content-section-visimisi .right-visimisi {
display: flex;
flex-direction: row;
width: 100dvw;
}

.tentangkami .content-section-visimisi .left-visimisi {
display: flex;
flex-direction: row;
background-color:#951C11;
width: 85dvw;
}
.tentangkami .content-section-visimisi .left-visimisi .left-visimisi-content {
padding: 20px;
padding-left: 80px;
text-align: left;
color: var(--base-light);
width: 400px;
}

section .content-section-1 {
   
    display: flex;
    flex-direction: row;
   
}
section .content-section-1 .right-tentangkami {
    width: 60%;
    padding-top: 10%;
    padding-left: 10%;
   
}
section .content-section-1 .right-tentangkami h2{
  text-align: left;
   
}
section .content-section-1 .right-tentangkami .line.tentangkami {
    margin-left: -30px !important;
    height: 10px;
}
section .content-section-1 .left-tentangkami {
    width: 40%;
   
}
section .content-section-1 .left-tentangkami .gambar-tentangkami {
    z-index: 1;
    position: absolute;
    padding-top: 12%;
    height: 90dvh;
    width: 25dvw;
    left: 11%;
  
}
section .content-section-1 .left-tentangkami .background {
    position: absolute;
    background-color: #951C11 !important;
    width: 30dvw;
    height: 80dvh;
    
}


/* animasi gambar tentang kami */

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateX(100px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.gambar-tentangkami {
    opacity: 0;
    transition: opacity 0.5s, transform 0.5s;
}

.gambar-tentangkami.animate {
    animation: fadeIn 1s forwards;
}




/* akhir section tentang kami */
h1, h2, h3 {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 1s ease, transform 1s ease;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif !important;

}

h1.animate, h2.animate, h3.animate{
    opacity: 1;
    transform: translateY(0);
}

h2, h3 {
    color: #343a40;
}
p.animate {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 1s ease, transform 1s ease;
}

p {
    opacity: 0;
    transform: translateX(10px); /* Menggeser elemen sedikit ke bawah saat tersembunyi */
}


/* awal Produk kami */
.produk-kami {
    height: fit-content;
    min-height: 100dvh;
}
section .content-section-produk-kami {
    padding-top: 15dvh;
   
}
.content-section-produk-kami-card {
    display: flex;
    flex-direction: row;
    overflow-x: auto; /* Menambahkan scroll horizontal */
    padding: 30px; /* Opsional: menambahkan padding di sekitar konten */
    gap: 20px; /* Opsional: menambahkan jarak antara card */
}

/* Menghilangkan scrollbar di Chrome, Safari, dan Edge */
.content-section-produk-kami-card::-webkit-scrollbar {
    display: none;
}

/* Menghilangkan scrollbar di Firefox */
.content-section-produk-kami-card {
    scrollbar-width: none; /* "none" atau "thin" */
    -ms-overflow-style: none; /* Untuk Internet Explorer dan Edge */
}
.card {
    flex: 0 0 auto; /* Menghindari card untuk menyusut atau membesar */
    width: 20rem; /* Lebar card yang telah ditentukan */
    padding: 20px;
    overflow: hidden;
}

.card-img-top {
    transition: transform 0.5s ease;
}

.card-img-top:hover {
    transform: scale(1.1); /* Mengatur efek zoom */
}
/* akhir produk kami */

/* awal layanan kami */

.content-section-layanan {
    padding-top:15dvh;
 
}

.content-section-layanan-kami {
    display: flex;
    flex-direction: row;
 
}
.layanan {
    height: fit-content;
    display: flex;
    flex-direction: column;
    width: 100dvw;

}


.left-layanan, .right-layanan {
    
    margin: 10px 0;
    width: 50dvw;
}

.right-layanan {
   padding: 5%;
    text-align: start;
}

.left-layanan .gambar-layanan{ 
z-index: 1;
position: relative;
padding: 10%;
height: 616px;
width: 616px;

}

.layanan .content-section-jangka-investasi {
    display: flex;
    flex-direction: row;
    height: 356px;
    
    
    }
    .layanan .content-section-jangka-investasi .right-jangka-investasi {
    display: flex;
    flex-direction: row;
    width: 100dvw;
    }
    
    .layanan .content-section-jangka-investasi .left-jangka-investasi {
    display: flex;
    flex-direction: row;
    background-color:#951C11;
    width: 85dvw;
    }
    .layanan .content-section-jangka-investasi .left-jangka-investasi .left-jangka-investasi-content {
    padding: 20px;
    padding-left: 80px;
    text-align: left;
    color: var(--base-light);
    width: 400px;
    }
/* akhir layanan kami */

/* awal legalitas */
.legalitas {
    height: fit-content;
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    width: 100dvw;

}
.content-section-legalitas {
    padding-top:15dvh;
 
}
.unduh-legalitas{
   
   width: fit-content;
   margin: auto;
   padding: 20px;
    
}
.unduh-legalitas  .list-group{
    display: flex;
    flex-direction: row; 
    
}
.unduh-legalitas  .list-group .btn-download{
    display: inline;
    border-radius: 25px;
    background-color: var(--base-light);
    gap: 10px; 
    
}
.unduh-legalitas  .list-group .btn-download:hover,
.unduh-legalitas  .list-group .btn-download:hover i {
            color: var(--base-light);
            background-color: var(--primary-color);
        }
.unduh-legalitas .fa-download {
    color: var(--primary-color);
    padding: 10px;
    font-size: 1.5rem;
    justify-content: center;
}
/* akhir legalitas */

/* awal kerjasama */
.kerjasama {
    height: 100dvh;
}
.content-section-kerjasama {
    padding-top:15dvh;
}

.marquee-wrapper {
    position: relative;
    padding-top: 15dvh;
    width: 100%;
    overflow: hidden;
    
  }
  
  .marquee {
    display: flex;
    white-space: nowrap;
  }
  .marquee:hover {
    animation-play-state: paused;
  }
  
  .marquee-content {
    display: flex;
    white-space: nowrap;
  }
  
  .marquee-content img {
    height: 190px;
    width: 190px; /* Sesuaikan dengan ukuran gambar Anda */
    margin-right: 20px; /* Jarak antar gambar */
    border-radius: 25px;
    aspect-ratio: 3/3;
    object-fit: contain;
    mix-blend-mode:darken;
  }
  
  /* Gradient efek di awal dan akhir marquee */
  .marquee-wrapper::before,
  .marquee-wrapper::after {
   
    content: '';
    position: absolute;
    top: 0;
    height: 190px;
    width: 10%; /* Lebar gradient, sesuaikan sesuai kebutuhan */
 
    pointer-events: none;
    
  }
  
  .marquee-wrapper::after {
    top: 15dvh;
    right: 0px;
    background: linear-gradient(to left,var(--secondary-color), rgba(255, 255, 255, 0));
  }
  .marquee-wrapper::before {
    top: 15dvh;
    left: 0px;
    background: linear-gradient(to right, var(--secondary-color), rgba(255, 255, 255, 0));
   
  }
  








/* akhir kerjasama */


/* line style */
section .line {
    display: flex;
    justify-content: center !important;
    margin: auto;
    background-color: var(--primary-color);
    width: 10dvw;
    height: 10px;
    border-radius: 20px;
    transition: width 1s ease, transform 1s ease; /* Transisi untuk animasi */
}

/* Animasi saat elemen terlihat */
section .line.animate {
    width: 20dvw;
    animation: pulsate 1.5s , colorChange 3s ;
}

/* Keyframes untuk efek pulsate (berdenyut) */
@keyframes pulsate {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

/* Keyframes untuk perubahan warna */
@keyframes colorChange {
    0% {
        background-color: var(--primary-color);
    }
    50% {
        background-color: var(--secondary-color);
    }
    100% {
        background-color: var(--primary-color);
    }
}

/* akhir line style */


/* Mengatur gaya untuk footer */
footer {
    background-color: #343a40;
    color: #fff;
    text-align: center;
    padding: 10px 20px;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 0;
}


/* Responsif untuk tampilan mobile */
@media (max-width: 768px) {
    section {
    padding: 20px;

    }
    nav {
        flex-direction: row;
        align-items: left;
        background-color:#951C11;
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 20px 20px;
        margin-bottom: 0px;
        position: fixed;
        height: 10dvh;
        list-style: none;
        margin: 0;
        padding: 0;
        z-index: 100;
    }
    navbar {
        position: relative;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
        /* background-color: var(--secondary-color); */
        width: 40dvw;
    }

    nav ul li {
        margin: 10px 0;
    }
  

    .nav-link {
        text-decoration: none !important;
        color:var(--base-dark) !important;
        font-weight: 500!important;
        transition: color 0.3s !important;
        vertical-align: middle !important;
        text-align: center;
        width: 200px !important;
        
        
    }
    
    .nav-link:hover {
        background-color: var(--secondary-color) !important; /* Warna saat hover */
        border-radius: 1px !important;
        color: var(--primary-color) !important;
        transition: color 0.3s !important;
        transition: all 1s !important;
        width: 200px !important;
    }

   
   
    .nav-text {
        font-size: 18px;
        width: 147px;
    }
    .logo {
        width: 39px;
        height: 39px;
        border-radius: 50%;
        margin-right: 3px;
        margin-left: 20px; 
    }
    .navbar-toggler {
        border: none !important;
        padding: 1px !important; 
        color:transparent !important;
        padding: 20px;
        font-size: 3rem;
        margin-right: 10px;
        z-index: 1060;
        position: fixed;
        right: 20px;
        transition: transform 0.3s ease; 
    }
    .navbar-collapse {
        transition: transform 0.3s ease;
        transform: translateX(100%); 
        position: fixed;
        top: 0;
        right: 0;
        overflow-x: hidden;
        width: fit-content;
        min-width: 50dvw;
        height: 100dvh;
        text-align: center; 
        background-color: var(--base-light); 
        z-index: 1050; 
    }
    
    .navbar-collapse.show {
        transform: translateX(0);
    }
    .navbar-collapse.show {
        transform: translateX(0);
    }

    .close-collapse {
        position: absolute;
        top: 10px;
        right: 10px;
        background: none;
        border: none;
        font-size: 1.5rem;
    }
    
    .navbar-nav {
        display: none;
        margin-top: 50px;
        transition: transform 0.3s ease-in-out; /* Transisi untuk menu */
        transform: translateX(0);
    
    }
    

    .navbar-toggler {
        display: flex;
    }
   
    .navbar-toggler.active .fa-times {
        transform: translateX(-100px); /* Geser ikon ke kiri */
        
    }
    .navbar-toggler.active .fa-bars.d-none {
        display: inline;
       
    }
    .navbar-toggler.active .fa-times.d-none {
        display: inline;
       
    }

    .navbar-toggler.active + .navbar-nav {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .navbar-nav .nav-item {
        margin: 10px 0px;
        
    }
    .navbar-nav .nav-item .nav-link {
        padding: 10px 20px;
        width: 100%;
        text-align: center;
    }
  
    .dark-icon {
        font-size: 24px;
        color: #333; /* Warna ikon gelap */
        margin-left: 10px;
        transition: transform 0.1s ease-in-out !important;
        border: 1px solid black;
        border-radius: 5px;
        padding: 10px;
        padding-top: 0;
        padding-bottom: 0;
        
    }
    .light-icon {
        font-size: 24px;
        color: var(--base-light); /* Warna ikon gelap */
        margin-left: 10px;
        transition: transform 3s ease-in-out;
        transition-delay: 3s;
        transition: margin-left 0.3s ease;
    }
    .collapse-icon {
        font-size: 24px;
        color: black; /* Ganti warna sesuai keinginan */
        transition: margin-left 0.5s ease;
    }
    
    /* Transisi pada navbar-collapse */
   
    .navbar-toggler-ikon {
        font-size: 24px;
        color: var(--base-light); /* Adjust the color if needed */
        transition: transform 0.3s ease, margin-left 0.3s ease;
    }
    
    .navbar-toggler-ikon .dark-icon,
    .navbar-toggler-ikon .light-icon {
        display: none;
    }
    
    .navbar-toggler.active .navbar-toggler-ikon .dark-icon {
        display: inline;
    }
    
    .navbar-toggler:not(.active) .navbar-toggler-ikon .light-icon {
        display: inline;
    }

    
    
    /* jumbotron */
    .jumbotron-content {
        display: flex;
        flex-direction: column;
        margin-top: 8dvh !important;
        height: 100dvh;
        padding: 10px;
       text-align:center;
        
    }
    .jumbotron-content h1 {
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        height: 20px;
        width: 450px;
        font-weight:700; 
        font-size: 36px; 
        color: #FFFFFF;
        margin-top: 15dvh;
        margin: auto;
       
        
    }
    .jumbotron-content p {
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        height: 20px !important;
        width: 70%px;
        font-weight:700; 
        font-size: 24px;
        margin: auto;
        margin-top: -20px;
 
      
       
       
    }
    .jumbotron-content p:nth-of-type(2) {
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
       
        width: 80%; 
        font-weight:400; 
        font-size: 16px;
        margin: auto;
        margin-top: -100px;
        padding: 20px;
        
      
     
    }
    .jumbotron-content button {
        width: fit-content; 
        margin: auto;
        border: none;
        border-radius: 36px;
       

       
     
    }
    .jumbotron-content button a {
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        width: 20dvw; 
        font-weight:400; 
        font-size: 16px;
        color: black;
        margin: 10px;
        text-decoration: none;
        margin-top: 30px;
        padding: 40px;
       
     
    }.dots {
        display: inline;
    }
    /* more text */
.more-text {
    display: none;
}
.show-more-btn {
    color: var(--secondary-color);
    cursor: pointer;
}

/* awal section tentang kami */
.tentangkami {
    height: fit-content;
    display: flex;
    flex-direction: column;
    width: 100dvw;

}


section .content-section-1 {
    padding-top:15dvh;
    display: flex;
    flex-direction: column;
    
   
}
section .content-section-1 .right-tentangkami {
    width: 100%;
    padding-left: 0;
   
    
   
}
section .content-section-1 .right-tentangkami h2{
  text-align: center;
   
}
section .content-section-1 .right-tentangkami p{
  width: 100% !important;
   
}
section .content-section-1 .right-tentangkami .line.tentangkami {
    justify-content: center;
    margin: auto !important;
    height: 10px;
}
section .content-section-1 .left-tentangkami {
    width: 100%;
 
  

   
}
section .content-section-1 .left-tentangkami .gambar-tentangkami {
    z-index: 1;
    position: relative;
    padding-top: 12%;
    height: 50dvh;
    width: 80dvw;
    left: 0;
    margin:auto;
  
}
section .content-section-1 .left-tentangkami .background {
    visibility: hidden;
    
}
.tentangkami .content-section-visimisi {
    display: flex;
    flex-direction: row;
    height: 356px;
    
    
    }
    .tentangkami .content-section-visimisi .right-visimisi {
    display: flex;
    flex-direction: row;
    width: 100dvw;
    }
    
    .tentangkami .content-section-visimisi .left-visimisi {
    display: flex;
    flex-direction: row;
    background-color:#951C11;
    width: 85dvw;
    }
    .tentangkami .content-section-visimisi .left-visimisi .left-visimisi-content {
    padding: 20px;
    padding-left: 80px;
    text-align: left;
    color: var(--base-light);
    width: 400px;
    }


/* animasi gambar tentang kami */

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateX(100px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.gambar-tentangkami {
    opacity: 0;
    transition: opacity 0.5s, transform 0.5s;
}

.gambar-tentangkami.animate {
    animation: fadeIn 1s forwards;
}
/* awal kerjasama mobile */
.kerjasama {
    height: 100dvh;
    padding-left: 0 !important
}
.content-section-kerjasama {
    padding-top:15dvh;
}

.marquee-wrapper {
    position: relative;
    padding-top: 15dvh;
    width: 100%;
    overflow: hidden;
    
  }
  
  .marquee {
    display: flex;
    white-space: nowrap;
    cursor:grab;
  }
  .marquee:active {
    cursor: grabbing;
  }
  .marquee:hover {
    animation-play-state: paused;
  }
  
  .marquee-content {
    display: flex;
    white-space: nowrap;
  }
  
  .marquee-content img {
    height: 100px;
    width: 100px; /* Sesuaikan dengan ukuran gambar Anda */
    margin-right: 20px; /* Jarak antar gambar */
    aspect-ratio: 3/2;
    object-fit: contain;
    mix-blend-mode:darken;
  }
  
  /* Gradient efek di awal dan akhir marquee */
  .marquee-wrapper::before,
  .marquee-wrapper::after {
   
    content: '';
    position: absolute;
    top: 0;
    height: 190px;
    width: 10%; /* Lebar gradient, sesuaikan sesuai kebutuhan */
 
    pointer-events: none;
    
  }
  
  .marquee-wrapper::after {
    top: 15dvh;
    right: 0px;
    background: linear-gradient(to left,var(--secondary-color), rgba(255, 255, 255, 0));
  }
  .marquee-wrapper::before {
    top: 15dvh;
    left: 0px;
    background: linear-gradient(to right, var(--secondary-color), rgba(255, 255, 255, 0));
   
  }
  

}
/* Untuk tampilan di atas 768px, sembunyikan tombol "selengkapnya" */
@media (min-width: 769px) {
    .dots {
        display: none;
    }
    .more-text {
        display: inline;
    }
    .show-more-btn {
        display: none;
    }
}


    
